.container{
    max-width: 1000px;
    padding:0px 60px;
    margin:auto;
}
.container1{
    max-width: 900px;
    padding:20px 20px;
    margin: auto;
    
}
.container2{
    max-width: 1200px;
    padding:0px 60px;
    margin: auto;
}
.header{
    height: 56px;
    width:100%;
    box-shadow: 0 0 15px #dddddd;
    background-color: white;
    position: fixed;
    top: 0px;
}
.header-left {
    
    float: left;
}
.header-right {
   
    float: right;
}
.clear{
    clear: both;
}
.header-left a {
    line-height:56px;
    color:navy;
    margin-left: 5px;
    font-size:22px;
    padding:16px 5px;
}
.header-right a {
    line-height:56px;
    color:navy;
    margin-left: 5px;
    font-size:22px;
    padding:16px 5px;
}
.header-right a:hover{
   color: paleturquoise;
}

body{
    
    font-family: 'arial',sans-serif;
    margin: 0;
}

h2{
    font-size: 48px;
    color:black;
    border:#2f3a44 3px solid;
    border-left:#2f3a44 10px solid;
    padding: 5px 30px;
    margin-bottom: 0;

}

p{
    font-size: 20px;
    
    color:black;
}

h3{ font-size:30px;
    color: black;
}

h4{
    font-size:22px;
    color: black;
}

.main{
    padding:0px 0px 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.main2{
    background-color: lavenderblush;
    padding:20px 10px 20px;
    border:red 0px solid;
    margin: 0px;
}
.main3{
    background-color: lavender;
    padding:20px 10px 20px;
    border:red 0px solid;
    margin: 0px;
}



/*
 
.pagetop_btn a{
    float:left;
    width: 100%;
    height: 50px;
   
    text-align: center;
    line-height: 60px;
    right: 0px;
    bottom: 0px;
} 
*/





.footer{
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #121633;
    padding: 0px;
    margin: 0px;
}
.footer-left{
    height: 150px;
    width: 570px;
    float: left;
    background-image: url("images1/hutterdesign1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}  
.footer-right {
    color: #e8e8e8;
    font-size:24px;
    float: right;
    padding-top:90px;
    padding-right: 50px;
    margin: 0px; 
    background-color: #121633;
}