.container{
    max-width: 1000px;
    padding:0px 60px;
    margin:auto;
}
.container1{
    max-width: 900px;
    padding:20px 20px;
    margin: auto;
    
}
.container2{
    max-width: 1200px;
    padding:0px 60px;
    margin: auto;
}

.table1{
    max-width: 1200px;
    padding:0;
    margin: 2.5%;
}
.table1>p{
    margin-top:5px;
    margin-bottom: 1px;
    font-size:18px;
}
.table1>li{
}


.imagegazo{
    max-width: 1200px;
    padding:0;
    margin: 2.5%;
    text-align: justify;
}
.imagegazo >p{
    margin-top:0px;
    margin-bottom: 5px;
    font-size:18px;
}

.image70{
    max-width: 1200px;
    padding:0;
    margin: 5% 15% 5% 15%;
    text-align: justify;
}
.image70 >p{
    margin-top:0px;
    margin-bottom: 5px;
    font-size:18px;
}
.imagegazo >h4{
    text-align: center;
}

.header{
    height: 56px;
    width:100%;
    box-shadow: 0 0 15px #dddddd;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.header-left {
    width: 30%;
    float: left;
}

<!-- ========================================================== -->
.dropdwn{
    width: 60%;
    display: flex;
}

ul{
    display: -webkit-flex;
    display: flex;
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}


.dropdwn>li{
    font-size:100%; 
    padding: 15px 3px 15px 3px;
    width: 15%;
    margin: 1px;
    background: #fff;
    display: inline;
    border: solid 0px aqua;
}

.dropdwn>li>a{
    float: center;
    text-decoration: none;
    padding:10px 2px 10px 2px;
}


.dropdwn_menu{
    max-width:500px;
    display: none;
    position: fixed;
    margin-left: 0px;
    margin-top: 10px;
    padding: 1px;
    background-color: ghostwhite;
    border: solid 0px red;
}

.dropdwn_menu>li{
    width: 100%;
}

.dropdwn_menu >li> a{
    text-decoration: none;
    padding: 10px;
    margin: 15px 10px 15px 10px;
    display: block;
    
}

li a:hover{
    color: red;
}



.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}







.clear{
    clear: both;
}
.header-left a {
    line-height:56px;
    color:navy;
    margin-left: 5px;
    font-size:22px;
    padding:16px 5px;
}
body{
    
    font-family: 'arial',sans-serif;
    margin: 0;
}

h2{
    font-size: 48px;
    color:black;
    border:#2f3a44 3px solid;
    border-left:#2f3a44 10px solid;
    padding: 5px 30px;
    margin-bottom: 0;

}

p{
    font-size: 22px;
    text-align: justify;
    color:black;
    margin: 0.4em 0.2em 0.4em 0.2em;
}

h3{ font-size:32px;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4{
    font-size:28px;
    color: black;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
h5{
    font-size: 23px;
    margin-bottom: 2px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    
}

.main{
    padding:20px 0px 0px 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.main2{
    background-color: lavenderblush;
    padding:20px 0px 0px 0px;
    border:red 0px solid;
    margin: auto;
}
.main3{
    background-color: lavender;
    padding:20px 10px 20px;
    border:red 0px solid;
    margin: 0px;
}


.footer{
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #121633;
    padding: 0px;
    margin: 0px;
}
.footer-left{
    height: 150px;
    width: 570px;
    float: left;
    background-image: url("images1/hutterdesign1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}  
.footer-right {
    color: #e8e8e8;
    font-size:24px;
    float: right;
    padding-top:90px;
    padding-right: 50px;
    margin: 0px; 
    background-color: #121633;
}