.RHCR1{
    padding: 10px;
    margin: 30px;
    height:300px;
    background: url("images1/image.png");
    background-size: cover;
}

.RHCR2{
    padding:10px;
    margin: 30px;
    height:300px;
    background: url("images1/RHCR3-1.png");
    background-size: cover;
}

.RHCR3{
    padding:10px;
    margin:30px;
    height:300px;
    background: url("images1/RHCR3-1.png");
    background-size: cover;
}

.tableRHCR1{
	margin: 5px;
	padding: 0px;
	background-color: #000000;
}
 
.tableRHCR1 li{
	display: inline-block;
	margin: 5px;
    vertical-align: inherit;
	font-weight: bold;
    
}
.tableRHCR1 li a{
    size:20px;
	color: #ffffff;
    width:40px;
    height: 40px;
    display:block;
    line-height: 40px;
    border: 1px solid;
    border-color: white;
    text-decoration: none;
    
}

.tableRHCR1 li a:hover{
    color: red;
    
}


.imde1{
    position: center;   
}
.imde4{
    position: center;   
}


