.main-visual{
    margin:auto;
    width:100%;
    height:600px;
    float:center;
    padding-top: 140px;
    padding-bottom: 100px;
    background-image: url("images1/mainwikide1.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    color:ghostwhite;
    text-align: right;
}


.top-title{
    color:#FFF;
    -webkit-text-stroke: 5px #121633;
    text-stroke: 4px #121633;
    font-size: 120px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.sub-title{
    color:#FFF;
    -webkit-text-stroke: 3px #121633;
    text-stroke: 3px #121633;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 30px;
}



//*

.youtubebox{
    max-width: 980px;
    padding:0 30px;
    margin-top:20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}
#youtube{
   #Youtube iframe 
	display : block;
	margin : 0 0;
}
    
