

.scroll {
    white-space: nowrap;
    overflow: auto;
  }
  
  .scroll::-webkit-scrollbar {
    height: 5px;
  }
  
  .scroll::-webkit-scrollbar-track {
    background: #F1F1F1;
  }
  
  .scroll::-webkit-scrollbat-thumb {
    background: #BCBCBC
  }
  


@media screen and (min-width:767px){
  h4 {
      padding-left: 50px;
      padding-bottom: 0px;
      margin-top: 60px;
    }
  section{
    padding-left: 50px;
  }
}

.caption{
  color: gray;
}