/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:767px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
#container{
width:100%;
}
body{
    
    font-family: 'arial',sans-serif;
    font-size: 100%;
    margin: 0;
}
    
.main{
    padding:20px 0px 0px 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.main2{
    background-color: lavenderblush;
    padding:20px 0px 0px 0px;
    border:red 0px solid;
    margin: auto;
}
.main3{
    background-color: lavender;
    padding:20px 10px 20px;
    border:red 0px solid;
    margin: 0px;
}

    
    
.container{
    max-width: 1000px;
    padding:0px 20px;
    margin:auto;
}
.container1{
    max-width: 900px;
    padding:20px 20px;
    margin: auto;
    
}
.container2{
    max-width: 1200px;
    padding:0px 60px;
    margin: auto;
}

.table1{
    max-width: 1200px;
    padding:0;
    margin: 2.5%;
}
.table1>p{
    margin-top:5px;
    margin-bottom: 1px;
    font-size:18px;
}
.table1>li{
}

    
/*========================= imgbox ===============================*/
.img100{
    max-width: 1200px;
    padding:0;
    margin: 2.5%;
    text-align: justify;
}
.img100 >p{
    margin-top:0px;
    margin-bottom: 5px;
    font-size:18px;
}
.img100 >h4{
    text-align: center;
}

.img70{
    max-width: 1200px;
    padding:0;
    margin: 5% 15% 5% 15%;
    text-align: justify;
}
.imag70 >p{
    margin-top:0px;
    margin-bottom: 5px;
    font-size:18px;
}

/*========================  imgbox  
    ===========================*/
    .main-visual{
    max-width: 100%;
    height: 400px;
    padding-top: 0px;
    background-image: url("images1/mainwikide1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:ghostwhite;
    text-align: right;
}
    
    
    
    
    
    
.header{
    height: 60px;
    width:100%;
    box-shadow: 2 2px 4px rgba(2,2,2,2) black;
    background-color: none;
    position: fixed;
    top: 0px;
    z-index: 1;
    display: inline-block;
}
.header-right{
    height: 30px;
    background-color: #9fb7d4 ;
    text-align: center;
    display: none;
    }

.header-left {
    height:60px;
    font-size: 100%;
    background-color:#121633 ;
    display: flex;
  justify-content: left;
  align-items: center;
}
    .head1{
        margin-right: 5px;
        margin-left:0px;
        height: 60px;
        width: 130px;
        background-image: url("images1/hutter3.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }
    .head2{
        position:left;
        font-size: 120%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -5px;
        height: 40px;
        color: white;
    }
   /* .head3{
        height: 50px;
        width: 50px;
        margin: 5px;
        background-image: url("images1/twitter.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .head4{
        height: 50px;
        width: 45px;
        margin-right: 75px;
        background-image: url("images1/youtube.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }
/* ============================ header dropdown ============================== */


/* ============================ header dropdown ============================== */

/* ============================ bottan  ======================================== */    
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
    
/* ============================ bottan  ======================================== */    



/*===============     font      ===============*/   


p{
    font-size: 1em;
    text-align: justify;
    color:black;
    margin: 0.4em 0.2em 0.4em 0.2em;
}

h2{
    font-size: 2em;
    color:black;
    border:#2f3a44 3px solid;  
    border-left:#2f3a44 10px solid;  
    padding: 5px 30px;
    margin-bottom: 0;
}

h3{ font-size:1.6em;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4{
    font-size:1.3em;
    color: black;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
h5{
    font-size: 1em;
    margin-bottom: 2px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    
}      
    
/*==================================================*/    
    
    
.nav {
  float: left;
  width: 100%;
  height:100%;
  margin: 0 auto;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: inherit;
  
}
.nav li {
  
  list-style: none;
  text-align: center;
}
.nav li a {
  position: relative;
  display:block;
  width:100%;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  background:linear-gradient(-135deg,#2193b0 ,#6dd5ed);
  transition: 0.5s;
  text-decoration: none;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.nav > li:active > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
  width: 60%;
}
.nav > li li:active > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
  width: 100%;
}
.nav li ul {
  top: 100px;
  left: 30%;
  display: block;
}
.nav li ul li {
  overflow:hidden;
  height:0;
  transition: 0.4s;
}
.nav li ul li a {
  height: 40px;
  border-top: 1px solid #eee;
}
    .nav li ul li ul a{display: none;}
.nav li:active > ul > li {
  overflow: visible;
  height: 40px;
}
  .nav li ul li ul {
    top: 0;
    left: 190px;
  }
  .nav li ul li ul:before {/*layer-2▷*/
    
    content: "";
    top: 0px;
    left: 130px;
    
  }
  .nav li ul li ul li:active > a {/*layer-3*/
    height: 30px;
    color: pink;
    background: #red;
  }
  .nav li ul li ul.left {
    position: relative;
    top: 0px;
    left: 90px;
  }
  .nav li ul li ul.left:before,/*layer-2-left▷*/
  .nav li ul li ul li ul.left:before {/*layer-3-left▷*/
    content: "";
    top: 5px;
    left: 90px;
  }
  .nav li ul li ul.left li:active > a {/*layer-2-left*/
    color: pink;
    background: #afc6e2;
  }
  .nav li ul li ul li ul.left li:active > a {/*layer-3-left*/
    color: purple;
    background: #afc6e2;
  }
.content {
  width: 750px;
  height: 200px;
  background: #eee;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
    
    
    .box1{
        display:inline-flex;
        margin-bottom: o;
    }
    .tw1{
        height: 130px;
        width: 120px;
        margin: 40px 30px 10px 10px;
        background-image: url(images1/Twittericon1.jpg); 
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        -webkit-transition: all 0.5s;
     　　transition: all 0.5s;
        color: white;
        text-decoration: none;
    }
    
    .yt1{
        height: 130px;
        width: 120px;
        margin: 40px 10px 10px 30px;
        background-image: url("images1/youtubeicon1.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        -webkit-transition: all 0.5s;
     　　transition: all 0.5s;
        color: white;
        text-decoration: none;
    }
    
.tw1:hover{
     background-image: url(images1/twittericon2.jpg); /*ボタン色*/
}
.yt1:hover{
     background-image: url(images1/youtubeicon2.jpg); /*ボタン色*/
}
    
    
    
    
    
    
    
    
/*===============     font      ===============*/       
    


.footer{
    bottom: 0;
    width: 100%;
    height: 160px;
    background-color: #121633;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
   .footer-left{
    display: inline-flex;
    width:60%;
    
} 
    .tohokuicon{
        margin:20px 15px 5px 10px;
        width: 70px;
        height: 70px;
        background-image: url(images1/tohokuicon.png);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius:6px;
    }
    .labicon{
        margin:20px 5px 5px 10px;
        width: 55px;
        height: 70px;
        background-image: url(images1/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius:6px;
    }
.tohokuicon:hover{
        opacity: 0.5;
    }
    .labicon:hover{
        opacity: 0.5;
    }
    
    
    .pagetop {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    border-radius:6px;
}
.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding:5px 10px;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
    
    
    
.box2{
        display:inline-flex;
        margin-bottom: 0;
        font-size: 70%;
        background-size: 100%;
    }
    
.box2 .tw1{
        height: 70px;
        width: 70px;
        margin: 20px 10px 10px 10px;
    }
    
.box2 .yt1{
        height: 70px;
        width: 70px;
        margin: 20px 0px 10px 0px;
    }
    
    

.footer-right {
    font-size: 16px;
    color: #e8e8e8;
    float:right;
    margin:20px 15px 5px 150px;
    background-color: #121633;
}


/*====================================*/

.toggle {
    position: fixed; /* bodyに対しての絶対位置指定 */
    right: 13px;
    top: 13px;
    display: block;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 3;
    background: #ccc;
    border-radius:6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.toggle span {
    display: block;
    position: absolute; /* .toggleに対して */
    width: 70%;
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    padding-top: 5px;
    right: 7px;
}
.toggle span:nth-child(1) {
    top: 5px;
}
.toggle span:nth-child(2) {
    top: 15px;
}
.toggle span:nth-child(3) {
    top: 25px;
}
.toggle span:nth-child(4) {
    border: none;
    top: 28px;
    left: 5px;
    font-size: 12px;
    font-weight: bold;
}


/* 最初のspanをマイナス45度に */
.toggle.active span:nth-child(1) {
    top: 15px;
    left: 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* 2番目と3番目のspanを45度に */
.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    transform: rotate(405deg);
}


/* .global_nav */
.global_nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    transform: translateY(-200%);
    z-index: 2;
    padding-top: 0px;
    padding-bottom: 50px;
    text-align: center;
    color: #000;
    background: #121633;
    transition: all 0.5s; 
    text-justify:auto;
}
.global_nav .nav_li {
    width: 100%;
    padding: 10px;
    list-style-type: none;
}
.global_nav .nav_li a {
    display: block;
    color: whitesmoke;
}
.global_nav .li  {
    display: block;
    color: whitesmoke;
}




/* .global_navに.activeが追加 */
.global_nav.active {
    transform: translateY(0%);
}
